{% block hero %}

  <section class="hero">
    <h1 class="hero__title">SpaceR</h1>
    <div class="hero__split">
      <div class="hero__text-wrapper">
        <h2 class="hero__subtitle">Odkryj z nami kosmos!</h2>
        <p class="hero__text">Jesteśmy firmą kosmiczną zajmującą się budową rakiet i satelit. Wysłaliśmy ładunek na międzynarodową stacje kosmiczną, przeprowadziliśmy dziesiątki lotów załogowych i dostarczamy Internet w każde miejsce na ziemi.</p>
        <a class="hero__link" href="#">Dowiedz się więcej</a>
      </div>
      <div class="hero__image-wrapper">
        <svg class="hero__image" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="61f8f3fd-6b56-45c5-89f2-afa0c413a7fa" data-name="Layer 1" width="925.18" height="770.09" viewbox="0 0 925.18 770.09" version="1.1">
          <metadata id="metadata225">
            <rdf:RDF>
              <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                <dc:title>To the stars</dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <defs id="defs50">
            <linearGradient id="f2b43956-505e-42fa-8271-42f9f0912862" x1="580.55" y1="759" x2="580.55" y2="113" gradientunits="userSpaceOnUse">
              <stop offset="0" stop-color="gray" stop-opacity="0.25" id="stop2"/>
              <stop offset="0.54" stop-color="gray" stop-opacity="0.12" id="stop4"/>
              <stop offset="1" stop-color="gray" stop-opacity="0.1" id="stop6"/>
            </linearGradient>
            <linearGradient id="93f39c8e-311a-4ffb-9b96-ec7d8ca6b5cd" x1="345.9" y1="617.2" x2="345.9" y2="679.83" gradientunits="userSpaceOnUse">
              <stop offset="0" stop-color="#e0e0e0" id="stop9"/>
              <stop offset="0.31" stop-color="#fccc63" id="stop11"/>
              <stop offset="0.77" stop-color="#f55f44" id="stop13"/>
            </linearGradient>
            <linearGradient id="f0b6c0c1-af46-47f0-89cc-f1295e85d837" x1="420.89" y1="617.2" x2="420.89" y2="679.83" xlink:href="#93f39c8e-311a-4ffb-9b96-ec7d8ca6b5cd"/>
            <linearGradient id="835adc3d-9947-42f8-a8c1-90fc1375c35f" x1="467.86" y1="617.2" x2="467.86" y2="679.83" xlink:href="#93f39c8e-311a-4ffb-9b96-ec7d8ca6b5cd"/>
            <linearGradient id="05d2e404-cee9-4ec4-9322-f8806c9b5d69" x1="543.67" y1="617.2" x2="543.67" y2="679.83" xlink:href="#93f39c8e-311a-4ffb-9b96-ec7d8ca6b5cd"/>
            <linearGradient id="84020695-8aca-4fdc-a56d-10a85085e734" x1="580.55" y1="835.05" x2="580.55" y2="647.79" xlink:href="#f2b43956-505e-42fa-8271-42f9f0912862"/>
            <linearGradient id="ee8b87cd-bc8a-4975-b833-23268ebbebf9" x1="272.71" y1="586.52" x2="272.71" y2="732.18" gradientunits="userSpaceOnUse">
              <stop offset="0" stop-color="#f2f2f2" id="stop20"/>
              <stop offset="0.31" stop-color="#e6e6e6" id="stop22"/>
              <stop offset="0.77" stop-color="#ccc" id="stop24"/>
            </linearGradient>
            <linearGradient id="93e0219e-fb1a-4fd7-ab06-cb9d2e8d46b6" x1="272.35" y1="606.91" x2="272.35" y2="766.41" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="eaf709e1-10fa-49af-93d3-e446f8f22d21" x1="596.45" y1="606.91" x2="596.45" y2="766.41" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="b99db109-4c8d-4947-bfd9-8341738d16d4" x1="592.44" y1="620.75" x2="592.44" y2="766.41" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="73d53186-09ce-4d56-8d1f-5ffca19f900f" x1="574.72" y1="699.54" x2="574.72" y2="831.37" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="f1bd4c24-bb4d-4277-a1fb-6bc8d7a55dfd" x1="482.23" y1="737.41" x2="482.23" y2="831.37" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="319244db-d860-4fad-863b-9a3a16f5944b" x1="665.03" y1="751.98" x2="665.03" y2="831.37" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="3a40aa9d-8c97-4785-a2ce-02f5c84266af" x1="802.69" y1="737.41" x2="802.69" y2="831.37" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
            <linearGradient id="f3ea85b0-d529-430f-a5f3-7431de71f741" x1="358.41" y1="737.41" x2="358.41" y2="831.37" xlink:href="#ee8b87cd-bc8a-4975-b833-23268ebbebf9"/>
          </defs>
          <title id="title52">To the stars</title>
          <g id="clouds" style="display:inline">
            <g opacity="0.7" id="g118">
              <path d="m 822,737.93 v 0 A 83,83 0 0 0 657.12,752 c 0,0.41 0,0.81 0,1.22 v 0 a 76.61,76.61 0 0 0 -9.1,1.95 75.84,75.84 0 0 0 -142.6,-12.91 75,75 0 0 0 -20.92,-4.78 v 0 a 82.38,82.38 0 0 0 -5.71,-18.85 75.8,75.8 0 0 0 -151.12,-2 82.45,82.45 0 0 0 -7.42,26.37 v 0 a 75.88,75.88 0 0 0 -43.49,92 H 884.34 A 75.86,75.86 0 0 0 822,737.93 Z" transform="translate(-137.41,-64.95)" fill="url(#84020695-8aca-4fdc-a56d-10a85085e734)" id="path116"/>
            </g>
            <circle cx="272.70999" cy="659.34998" r="72.830002" fill="url(#ee8b87cd-bc8a-4975-b833-23268ebbebf9)" id="circle120"/>
            <circle cx="272.35001" cy="686.65997" r="79.75" fill="url(#93e0219e-fb1a-4fd7-ab06-cb9d2e8d46b6)" id="circle122"/>
            <circle cx="596.45001" cy="686.65997" r="79.75" fill="url(#eaf709e1-10fa-49af-93d3-e446f8f22d21)" id="circle124"/>
            <circle cx="592.44" cy="693.58002" r="72.830002" fill="url(#b99db109-4c8d-4947-bfd9-8341738d16d4)" id="circle126"/>
            <path d="m 647.55,772.37 a 72.7,72.7 0 0 1 -30.12,59 H 532 a 72.86,72.86 0 1 1 115.54,-59 z" transform="translate(-137.41,-64.95)" fill="url(#73d53186-09ce-4d56-8d1f-5ffca19f900f)" id="path128"/>
            <path d="m 555.06,810.24 a 72.5,72.5 0 0 1 -3.12,21.12 H 412.51 a 0.025,0 90 0 0 0,-0.05 72.83,72.83 0 0 1 69.28,-93.9 h 0.45 q 3.06,0 6.07,0.25 a 72.07,72.07 0 0 1 20.09,4.59 72.85,72.85 0 0 1 46.66,67.99 z" transform="translate(-137.41,-64.95)" fill="url(#f1bd4c24-bb4d-4277-a1fb-6bc8d7a55dfd)" id="path130"/>
            <path d="m 737.87,824.81 q 0,3.27 -0.29,6.47 a 0.18,0.18 0 0 1 0,0.09 H 592.5 c -0.2,-2.16 -0.3,-4.35 -0.3,-6.55 a 72.76,72.76 0 0 1 61.92,-72 A 73.77,73.77 0 0 1 665,752 c 1.86,0 3.71,0.07 5.54,0.2 a 72.89,72.89 0 0 1 60.9,42.74 c 0.3,0.66 0.59,1.33 0.86,2 a 72.48,72.48 0 0 1 5.57,27.87 z" transform="translate(-137.41,-64.95)" fill="url(#319244db-d860-4fad-863b-9a3a16f5944b)" id="path132"/>
            <path d="m 875.52,810.24 a 72.5,72.5 0 0 1 -3.12,21.12 H 733 c 0,0 0,0 0,0 a 73.29,73.29 0 0 1 -1.87,-34.54 c 0.12,-0.63 0.24,-1.27 0.38,-1.89 a 72.86,72.86 0 0 1 71.22,-57.51 c 2.29,0 4.54,0.1 6.77,0.32 1,0.08 2,0.2 3,0.33 a 72.84,72.84 0 0 1 63.02,72.17 z" transform="translate(-137.41,-64.95)" fill="url(#3a40aa9d-8c97-4785-a2ce-02f5c84266af)" id="path134"/>
            <path d="m 428.13,831.37 c 0.24,-0.76 0.45,-1.52 0.66,-2.29 A 72.88,72.88 0 0 0 339,740 a 69.46,69.46 0 0 0 -8.51,2.94 72.9,72.9 0 0 0 -41.78,88.4 h 139.42 z" transform="translate(-137.41,-64.95)" fill="url(#f3ea85b0-d529-430f-a5f3-7431de71f741)" id="path136"/>
          </g>
          <g id="rocket" style="display:inline">
            <g opacity="0.7" id="g56">
              <path d="m 722,411.58 a 150.57,150.57 0 0 0 -17,-70 c -5.34,-10.15 -10.21,-16.46 -14,-20.33 a 10,10 0 0 0 -11.4,-2.25 10.28,10.28 0 0 0 -4,2.58 c -5.07,5.25 -9.65,12.19 -13.65,19.58 a 151.15,151.15 0 0 0 -17.87,71.92 v 15.06 h -9.66 v -175 c 0,-36.68 -8.21,-72.87 -24.29,-105 -7.62,-15.21 -14.57,-24.66 -19.92,-30.47 a 13.81,13.81 0 0 0 -20.76,0 c -7.24,7.87 -13.77,18.27 -19.48,29.33 -16.91,32.79 -25.5,70 -25.5,107.77 v 173.37 h -8.35 v -15.78 a 151.15,151.15 0 0 0 -17.87,-71.92 c -4,-7.38 -8.58,-14.32 -13.65,-19.58 A 10,10 0 0 0 473,318.74 l 0.35,0.19 a 10.31,10.31 0 0 0 -3.26,2.28 c -3.75,3.87 -8.62,10.18 -14,20.33 a 150.57,150.57 0 0 0 -17,70 v 261.64 h 29.8 l -3.25,21.51 V 759 H 490 v -64.31 l -3.25,-21.51 h 29.37 V 434.91 h 8.35 v 237.2 h 23.8 l -3.42,22.57 V 759 h 24.37 v -64.31 l -3.42,-22.57 h 32.07 l -3.42,22.57 V 759 h 24.37 v -64.31 l -3.42,-22.57 h 19 V 434.91 h 9.66 v 238.63 h 7.83 v -0.36 h 25.89 l -3.25,21.51 V 759 h 24.37 v -64.31 l -3.25,-21.51 H 722 Z" transform="translate(-137.41,-64.95)" fill="url(#f2b43956-505e-42fa-8271-42f9f0912862)" id="path54"/>
            </g>
            <polygon points="334.37,617.2 338.49,589.19 353.32,589.19 357.44,617.2 " fill="#535461" id="polygon58"/>
            <g opacity="0.1" id="g62">
              <polygon points="338.49,592.48 337.34,600.31 354.47,600.31 353.32,592.48 " id="polygon60"/>
            </g>
            <polygon points="532.13,617.2 536.25,589.19 551.08,589.19 555.2,617.2 " fill="#535461" id="polygon64"/>
            <g opacity="0.1" id="g68">
              <polygon points="552.23,600.31 551.08,592.48 536.25,592.48 535.1,600.31 " id="polygon66"/>
            </g>
            <polygon points="409.35,617.2 413.47,589.19 428.31,589.19 432.43,617.2 " fill="#535461" id="polygon70"/>
            <g opacity="0.1" id="g74">
              <polygon points="429.46,600.31 428.31,592.48 413.47,592.48 412.32,600.31 " id="polygon72"/>
            </g>
            <polygon points="456.32,617.2 460.44,589.19 475.27,589.19 479.39,617.2 " fill="#535461" id="polygon76"/>
            <g opacity="0.1" id="g80">
              <polygon points="460.44,592.48 459.29,600.31 476.43,600.31 475.27,592.48 " id="polygon78"/>
            </g>
            <rect x="357.44" y="357.64001" width="164.8" height="6.5900002" fill="#535461" id="rect82"/>
            <path d="m 685.13,318.46 a 9.29,9.29 0 0 0 -13.77,0 c -4.8,5.11 -9.13,11.87 -12.92,19.06 a 150.58,150.58 0 0 0 -16.91,70 v 253.69 h 72.93 V 406.47 a 150,150 0 0 0 -16.11,-68.21 c -5.06,-9.88 -9.67,-16.03 -13.22,-19.8 z" transform="translate(-137.41,-64.95)" fill="#e0e0e0" id="path84"/>
            <path d="m 476,318.46 a 9.29,9.29 0 0 1 13.77,0 c 4.8,5.11 9.13,11.87 12.92,19.06 a 150.58,150.58 0 0 1 16.91,70 V 661.21 H 446.65 V 406.47 a 150,150 0 0 1 16.11,-68.21 c 5.05,-9.88 9.66,-16.03 13.24,-19.8 z" transform="translate(-137.41,-64.95)" fill="#e0e0e0" id="path86"/>
            <polygon points="326.95,347.01 326.95,368.35 309.65,368.35 309.65,346.93 " fill="#535461" id="polygon88"/>
            <polygon points="382.16,347.01 382.16,368.35 364.86,368.35 364.86,346.93 " fill="#535461" id="polygon90"/>
            <polygon points="521.42,347.01 521.42,368.35 504.11,368.35 504.11,346.93 " fill="#535461" id="polygon92"/>
            <polygon points="576.63,347.01 576.63,368.35 559.32,368.35 559.32,346.93 " fill="#535461" id="polygon94"/>
            <g opacity="0.1" id="g98">
              <path d="m 502.66,337.19 c -3.78,-7.19 -8.12,-13.95 -12.92,-19.06 a 9.26,9.26 0 0 0 -11,-2.07 9.83,9.83 0 0 1 2.78,2.07 c 4.8,5.11 9.13,11.87 12.92,19.06 a 150.58,150.58 0 0 1 16.91,70 v 253.67 h 8.24 V 407.22 a 150.58,150.58 0 0 0 -16.93,-70.03 z" transform="translate(-137.41,-64.95)" id="path96"/>
            </g>
            <g opacity="0.1" id="g102">
              <path d="m 665,337.89 c 3.78,-7.19 8.12,-13.95 12.92,-19.06 a 9.8,9.8 0 0 1 3.19,-2.28 9.27,9.27 0 0 0 -10.6,2.28 c -4.8,5.11 -9.13,11.87 -12.92,19.06 a 150.58,150.58 0 0 0 -16.91,70 v 253.67 h 7.42 V 407.93 A 150.58,150.58 0 0 1 665,337.89 Z" transform="translate(-137.41,-64.95)" id="path100"/>
            </g>
            <g id="fire">
              <rect x="334.37" y="617.20001" width="23.07" height="62.619999" fill="url(#93f39c8e-311a-4ffb-9b96-ec7d8ca6b5cd)" id="rect104"/>
              <rect x="409.35001" y="617.20001" width="23.07" height="62.619999" fill="url(#f0b6c0c1-af46-47f0-89cc-f1295e85d837)" id="rect106"/>
              <rect x="456.32001" y="617.20001" width="23.07" height="62.619999" fill="url(#835adc3d-9947-42f8-a8c1-90fc1375c35f)" id="rect108"/>
              <rect x="532.13" y="617.20001" width="23.07" height="62.619999" fill="url(#05d2e404-cee9-4ec4-9322-f8806c9b5d69)" id="rect110"/>
            </g>
            <path d="m 589.7,119.56 a 12.84,12.84 0 0 0 -19.65,0 c -6.85,7.66 -13,17.79 -18.44,28.57 -16,31.94 -24.14,68.19 -24.14,104.95 V 660.17 H 631.56 V 251.44 c 0,-35.72 -7.77,-71 -23,-102.21 -7.21,-14.81 -13.79,-24.01 -18.86,-29.67 z" transform="translate(-137.41,-64.95)" fill="#eeeeee" id="path112"/>
            <rect x="414.23001" y="99.830002" width="54.310001" height="24.889999" rx="11" ry="11" fill="#28274c" id="rect114"/>
            <g opacity="0.1" id="g220">
              <rect x="390.59" y="202.05" width="103" height="4" id="rect218"/>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </section>
{% endblock %}